* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 500px;
  width: 50%;
  z-index: -1;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
}
.navbar ul a li {
  display: inline-block;
}
section {
  height: 640px;
  width: 100%;
  padding-top: 30px;
}
section h2 {
  text-align: center;
}
