<div class="phone-screen">
  <div class="shadow-drop"></div>
  <h1 class="thanks-for-using">Thanks for using SiteCycle!</h1>
  <p class="try-fb-please">Try logging in with Facebook for access to these neat features.</p>
  <ul class="login-list">
    <li class="fb-pro">Save your favorite Trails</li>
    <li class="fb-pro">Leave feedback for fellow cyclists</li>
    <li class="fb-pro">Earn new badges for Trails and Milestones</li>
  </ul>
  <button class="login-button">Facebook Login</button>
</div>


<!-- .shadow-drop {
  position: absolute;
  top: 80px;
  height: 330px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.thanks-for-using {
  position: absolute;
  top: 90px;
  text-align: center;
  color: #FFF;
}
.try-fb-please {
  position: absolute;
  top: 180px;
  left: 30px;
  width: 80%;
  text-align: center;
  font-size: 16px;
  color: #FFF;
}
.login-list {
  position: absolute;
  top: 212px;
  left: 40px;
  width: 80%;
  margin: 10px auto;
  color: #FFF;
}
.fb-pro {
  width: 70%;
  margin: 5px auto;
  list-style: square;
}
.login-button {
  position: absolute;
  left: 88px;
  top: 350px;
  height: 42px;
  width: 142px;
  border: none;
  font-size: 16px;
  color: #FFF;
  background-color: #38D;
}
.login-button:hover {
  background-color: #27C;
}
.login-button:active {
  background-color: #38D;
}
.phone-screen img {
  -webkit-filter:blur(5px);
     -moz-filter:blur(5px);
      -ms-filter:blur(5px);
       -o-filter:blur(5px);
          filter:blur(5px);
}

.phone-screen {
  position: relative;
  height: 480px;
  width: 320px;
  border: 1px solid #000;
  border-radius: 10px;
}
 